@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mod {
  height: 500px;
}


@media (max-width:640px) {
  thead {
    display: none;
  }

  #responsive-table {
    display: block;
  }

  #responsive-table #view-btn {
    display: flex;
    justify-content: center;
  }

  #responsive-table td {
    display: block;
  }

  .modal-td td {
    display: inline-table;
    background-color: aqua;
  }


  #responsive-table td::before {
    color: black;
    opacity: 0.8;
    font-weight: 400;
    display: block;
    content: attr(data-label);
    position: absolute;
    left: 10%;
  }

}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: '#23272f';
  }
} */